@import "compass";

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@include keyframes(rotate) {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

body {
  padding-top: 50px;
}

/*
 * Global add-ons
 */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
  padding-bottom: 100px;
  overflow-x: auto;

  @media (min-width: 768px) {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;

  > li {
    > a {
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  .active {
    a, a:hover, a:focus {
      color: #fff;
      background-color: #428bca;
    }
  }
}

/*
 * Main content
 */

.main {
  padding: 20px;


  @media (min-width: 768px) {
    padding-right: 40px;
    padding-left: 40px;
  }

  .page-header {
    margin-top: 0;
  }
}


.artist-cover {
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  width: 150px;
  height: 150px;

  .art-caption {
    position: absolute;
    top: 0;
    display: table;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 50%;

    span {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      font-size: 16px;
      color: #000;
      font-weight: bold;
      text-shadow: 0px 0px 9px #CCC;
    }
  }

  img {
    display: inline-block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
}

.player-container {
  position: absolute;
  bottom: 0;
  height: 100px;
  background-color: #f5f5f5;
  left: 0;
  z-index: 9999;
  text-align: center;
  overflow: hidden;

  .player-button {
    width: 1.5em;
    height: 1.5em;
    font-size: 1.5em;
  }

}

.loader-container {
  text-align: center;
}

.loader-wait {
  margin-top: 20%;
  font-size: 5em;
  color: #FFFFFF;
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
}