@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-ms-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
/* line 46, app.scss */
body {
  padding-top: 50px;
}

/*
 * Global add-ons
 */
/* line 53, app.scss */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
/* line 62, app.scss */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */
/* Hide for mobile, show later */
/* line 71, app.scss */
.sidebar {
  display: none;
  padding-bottom: 100px;
  overflow-x: auto;
}
@media (min-width: 768px) {
  /* line 71, app.scss */
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
/* line 92, app.scss */
.nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
/* line 98, app.scss */
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
/* line 105, app.scss */
.nav-sidebar .active a, .nav-sidebar .active a:hover, .nav-sidebar .active a:focus {
  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */
/* line 116, app.scss */
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  /* line 116, app.scss */
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
/* line 124, app.scss */
.main .page-header {
  margin-top: 0;
}

/* line 129, app.scss */
.album-cover,
.artist-cover {
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  width: 150px;
  height: 150px;
  cursor: pointer;
}
/* line 138, app.scss */
.album-cover .art-caption,
.artist-cover .art-caption {
  position: absolute;
  top: 0;
  display: table;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 50%;
}
/* line 147, app.scss */
.album-cover .art-caption span,
.artist-cover .art-caption span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  color: #000;
  font-weight: bold;
  text-shadow: -1px -1px 0 #CCCCCC, -1px 0px 0 #CCCCCC, -1px 1px 0 #CCCCCC, 0px -1px 0 #CCCCCC, 0px 0px 0 #CCCCCC, 0px 1px 0 #CCCCCC, 1px -1px 0 #CCCCCC, 1px 0px 0 #CCCCCC, 1px 1px 0 #CCCCCC;
}
/* line 158, app.scss */
.album-cover img,
.artist-cover img {
  display: inline-block;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

/* line 166, app.scss */
.player-container {
  position: fixed;
  bottom: 0;
  height: 100px;
  background-color: #f5f5f5;
  left: 0;
  z-index: 9999;
  text-align: center;
  overflow: hidden;
}
/* line 176, app.scss */
.player-container .player-button {
  width: 1.5em;
  height: 1.5em;
  font-size: 1.5em;
}

/* line 184, app.scss */
.loader-container {
  text-align: center;
}

/* line 188, app.scss */
.loader-wait {
  margin-top: 20%;
  font-size: 5em;
  color: #FFFFFF;
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
}

/* line 196, app.scss */
.import-local-action,
.import-legacy-action,
.artist-list-action,
.album-list-action,
.track-list-action {
  cursor: pointer;
}
